
<section>
  <header>
    <ul id="lists">
      <li>
        <h2> <%= @lists[:name] %> <h2>
      </li>
    </ul>
  </header>
</section>

<form action="/lists"  method="post">
  <dl>
    <dt>
      <label for="list_name">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="Todo Text" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>
