<section>
  <header>
    <ul id="lists">
      <li class="edit">
        <h2> <%= @lists[:name] %> <h2>
        <p><a href="/lists/<%= params[:id] %>/edit">Edit</a></p>
      </li>
    </ul>
  </header>
</section>

<!-- ◟◅◸◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◞ -->

<form action="/lists/<%= params[:id] %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo" id="todo" placeholder="Add todo" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>

<!-- ◟◅◸◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◅▻◞ -->

<% content_for :header_links do %>
  <a href="/lists">All Lists</a>
<% end %>